/datasets/FEVER/AVeriTeC
/datasets/FEVER/wiki-pages
/datasets/FEVER/fever-train.jsonl
/datasets/FEVER/fever2-adversarial.jsonl
/datasets/FEVER/feverous_train_challenges.jsonl
/datasets/LIAR
work_planning.gdoc
.DS_Store
DSA598_sem_pres_01.gslides