/datasets/FEVER/AVeriTeC
/datasets/FEVER/wiki-pages
/datasets/FEVER/fever-train.jsonl
/datasets/FEVER/fever2-adversarial.jsonl
/datasets/FEVER/feverous_train_challenges.jsonl
/datasets/LIAR
/presentation
/work_documents
work_planning.gdoc
.DS_Store

transcribe_voice_notes.ipynb