/presentation
/work_documents
/knowledge_base
/models
/datasets/LIAR
/datasets/FEVER/AVeriTeC
/datasets/FEVER/fever-scorer
/datasets/FEVER/paper_test_results
/datasets/FEVER/wiki-pages



/chroma_db
/archive
work_planning.gdoc
.DS_Store

transcribe_voice_notes.ipynb
scratch.txt